Source: plymouth-theme-xentaos
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/plymouth-theme-xentaos
Vcs-Browser: https://github.com/xentaos/plymouth-theme-xentaos.git

Package: plymouth-theme-xentaos
Architecture: all
Depends: xentasystem
Description: Paket Bawaan Theme Plymoth.
 Paket Bawaan Theme Plymoth untuk Xenta OS
 Splash Boot Logo and Text Theme.
